//variables
$bluePrimary: #377dff;
$greenPrimary: #38cb89;
$redPrimary: #ff5630;
$yellowPrimary: #ffab00;
$bluePrimary-80: #d7e5ff;
$greenPrimary-80: #d7f5e7;
$redPrimary-80: #ffddd6;
$yellowPrimary-80: #ffeecc;
$dark1: #191c21;
$dark2: #212833;
$white: #fff;
$grayscale: #4e5d78;
$grayscale-80: #717d93;
$grayscale-60: #959eae;
$grayscale-40: #b8bec9;
$grayscale-20: #dcdfe4;
$grayscale-5: #f6f7f8;
$grayscale-3: #fafafb;
